<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bot.css">
    <title>Chat Bot de Consultas</title>
</head>
<body>
    

    <a href="/" class="p-4 hover:bg-gray-100 transition">
        <img src="/images/FlechaAtras.png" alt="Volver" class="rotate-90 w-10 h-10 object-contain cursor-pointer">
    </a>

    <h1>Chat Bot</h1>

    <h3> ¿Consulta? Escríbeme, encantado de resolver tus dudas. </h5>


    <img src="/images/pulpiyo.png" alt="Pulpo" class="pulpo">




    <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/7742ea43-c758-4830-b864-a46de241f2e5">
    </iframe>


</body>
</html>