<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/catalogo.css">
    <title>Carta</title>
</head>
<body>
    


    <a href="/" class="p-4 hover:bg-gray-100 transition">
        <img src="/images/FlechaAtras.png" alt="Volver" class="rotate-90 w-10 h-10 object-contain cursor-pointer">
    </a>


    <div class="catalogo-container">
        <h4 class="subtitulo">Nuestra Exquisita Carta</h4>
        <div class="categoria">
            <div class="titulo">
                <h2>CEVICHES</h2>
                <img src="/images/CevicheCatalogo.jpg" alt="Ceviche" class="icono">
            </div>
            <ul>
                <li>Ceviche de pescado <span>S/.30</span></li>
                <li>Ceviche Mixto <span>S/.35</span></li>
                <li>Ceviche de Mariscos <span>S/.40</span></li>
            </ul>
        </div>

        <div class="categoria">
            <div class="titulo">
                <h2>JALEAS</h2>
                <img src="/images/JaleasCatalogo.jpg" alt="Jalea" class="icono">
            </div>
            <ul>
                <li>Jalea Personal <span>S/.50</span></li>
                <li>Jalea Especial <span>S/.70</span></li>
                <li>Jalea Familiar <span>S/.100</span></li>
                <li>Jalea Especial Fuente <span>S/.120</span></li>
            </ul>
        </div>

        <div class="categoria">
            <div class="titulo">
                <h2>CHICHARRÓN DE MARISCOS</h2>
                <img src="/images/ChicharronCatalogo.jpg" alt="Chicharrón" class="icono">
            </div>
            <ul>
                <li>Chicharrón de Calamar <span>S/.30</span></li>
                <li>Chicharrón de Pescado <span>S/.30</span></li>
                <li>Chicharrón de Pulpo <span>S/.35</span></li>
            </ul>
        </div>
    </div>


</body>
</html>