<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/contacto.css">
    <title>Contactos</title>
</head>
<body>
    
    <a href="/" class="p-4 hover:bg-gray-100 transition">
        <img src="/images/FlechaAtras.png" alt="Volver" class="rotate-90 w-10 h-10 object-contain cursor-pointer">
    </a>



    <h1 style="display: flex; justify-content: center; align-items: center;">Contáctenos</h1>
    <img src="/images/CevicheriaLogo.jpg" alt="ImagenLogo" style="display: flex; justify-content: center; align-items: center;"/>
    
    <div class="botones">
        <div class="boton1">
            <a href="/about">
                <h4>Nuestra Filosofia</h4>
            </a>
        </div>

        <br/>

        <div class="boton2">
            <a href="/about">
                <h4>Historia de la Cevicheria</h4>
            </a>
        </div>

        <br/>

        <div class="boton3">
            <a href="/about">
                <h4>Especialistas de la Casa</h4>
            </a>
        </div>

        <br/>

        <div class="boton4">
            <a href="/about">
                <h4> Nuestros Clientes, Nuestra Familia </h4>
            </a>
        </div>


        <br/>

    </div>


    <section class="destacados py-5">
        <div class="container text-center">
            <h5 class="text-success" >Nuestras redes Sociales</h5>
            <div class="row mt-4">
                <div class="col-md-4">
                    <a href="linkdeFacebook" class="social-icon">
                        <img src="/images/Imagen2.png" alt="Facebook" class="rounded shadow img-fluid" >
                    </a>
                    
                </div>
            
                <div class="col-md-4">
                    <a href="linkdeInstagram" class="social-icon">
                        <img src="/images/InstagramLogo.jpg" alt="Instagram" class="rounded shadow img-fluid">
                    </a>
                    
                </div>
            
                <div class="col-md-4">
                    <a href="linkdeTwitter" class="social-icon">
                        <img src="/images/TwitterLogo.png" alt="Twitter" class="rounded shadow img-fluid">
                    </a>
                    
                </div>
            </div>
        </div>
</section>



</body>
</html>