<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Inicio</title>
</head>
<body>
    
    

    <%- include('partials/navigation') %>


    <!-- <%- include('partials/head') %> -->

    <div class="container">
        <h1>LA CEVICHERÍA EL PULPITO</h1>
        <img src="/images/CevicheriaLogo.jpg" alt="Logo de La Cevichería El Pulpito" class="logo">
        <form class="login-form">
            <input type="email" placeholder="correo" required>
            <input type="password" placeholder="contraseña" required>
            <button type="submit">Entrar</button>
        </form>
    </div>
    
    


</body>
</html>