<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/redes-sociales.css">
    <title>Nuestras Redes Sociales</title>
</head>
<body>
    

    <a href="/" class="p-4 hover:bg-gray-100 transition">
        <img src="/images/FlechaAtras.png" alt="Volver" class="rotate-90 w-10 h-10 object-contain cursor-pointer">
    </a>



    <section class="hero bg-light text-center text-white">
        <div class="container py-5">
            
            <h1 class="lead">Encuentranos mediante nuestras Redes Sociales :)</h1>
            
            
        </div>
    </section>


    

    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/InstagramLogo.jpg" alt="Instagram" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Instagram: </h5>
                            <a href="https://www.instagram.com/cevicheriaelmarinero/" target="_blank"> @cevicheriaelpulpito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/imagen2.png" alt="Facebook" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Facebook: </h5>
                        
                            <a href="https://www.facebook.com/cevicheria.pulpito.9" target="_blank"> @cevicheriaelpulpito</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/twitterLogo.png" alt="Twitter" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Twitter: </h5>
                        
                            <a href="https://twitter.com/cevicheriaelmarinero" target="_blank"> @cevicheriaelpulpito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>







</body>
</html>